#Home {
    background-color: var(--s-color);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#Home h1{
    color: white;
    font-size: 80px;
    font-weight: bolder;
}
#Home h3{
    color: white;
}


@media screen and (max-width: 640px) {
    #Home h1{
        font-size: 40px;
    }
    #Home h3{
        font-size: 20px;

    }
}
@media screen and (max-width: 340px) {
    #Home h1{
        font-size: 30px;
    }
    #Home h3{
        font-size: 16px;

    }
}